
*{
	//background-color: black;
}


header{
	font-size: 5em;
	color: yellow;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	display:inline-block;
	//background-color: gray;
}

#header2{
	font-size: 1.8em;
	color: red;
	text-align: center;
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	display:block;
}

body{
	//background-color: gray;
}

a:link{
	color: yellow;
	//background-color: gray;
}

a:visited{
	color: yellow;
	//background-color: gray;
}

a:hover{
	color: pink;
	//background-color: gray;
}

#links{
	background-color: black;
	border: none;
}

/*body:nth-child(2){
	//background-color: gray;
	text-align: center;
	color: blue;
	font-size: 2em;
}*/



/*p1{
	color: blue;
	background-color: gray;
}*/

img{
	border-radius: 10px;
	display:inline-block;
}

div{
	border-radius: 10px;
	/*background-color: #a4c1c1;*/
	background-color: #66A3C2;
	text-align: center;
	padding: 10px;
	margin: 10px;
	border: 1px solid yellow;
}

p{
	/*background-color: #a4c1c1;*/
	text-align: left;
	color: #cc6600;
	font-family: "Lucida Console", Monaco, monospace;
}

#title1{
	color: #6666ff;
	/*background-color: #a4c1c1;*/
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
}

#title2{
	color: #cc0000;
	/*background-color: #a4c1c1;*/
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
}

#title3{
	color: #cc6600;
	/*background-color: #a4c1c1;*/
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
}

#title4{
	color: #009900;
	/*background-color: #a4c1c1;*/
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
}

#title5{
	color: black;
	/*background-color: #a4c1c1;*/
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: underline;
}

#content1{
	color: #6666ff;
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
}

#content2{
	color: #cc0000;
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
}

#content4{
	color: #009900;
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
}

#content5{
	color: black;
	text-align: left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

ol{
	/*background-color: #a4c1c1;*/
	font-size: 1em;
}

li{
	/*background-color: #a4c1c1;*/
	font-size: 1em;
}

/*p2 ol{
	color: red;
	background-color: gray;
}

p2 li{
	color: red;
	background-color: gray;
}*/

/*positive-header{
	color: blue;
	background-color: gray;
	text-align: center;
	}*/

/*p2{
	color: red;
	background-color: gray;
}*/

/*negative-header{
	color: red;
	background-color: gray;
	text-align: center;
	font-size: 1.5em;
}*/

/*body:first-child{
	color: blue;
	//background-color: gray;
}

body:nth-child(2){
	color: red;
	//background-color: gray;
}


p header-mini{
	color: blue;
	background-color: gray;
	text-align: center;
}

p header-mini{
	color: red;
	background-color: gray;
	text-align: center;
}*/

#blueSaber{
	display: block;
	margin-left: auto;
    margin-right: auto;
	float:none;
    position: relative;
    left: -10px;
    top: 10px;
    animation-name: blueSwinging;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#redSaber{
	display: block;
    margin-left: auto;
    margin-right: auto;
	transform: rotate(270deg);
	float:none;
    position: relative;
    left: -10px;
    top: -130px;
    z-index: -1;
    animation-name: redSwinging;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes redSwinging{
    0%   {transform: rotate(270deg);}
    50%  {transform: rotate(330deg);}
    50%  {left: 55px;}
    100% {transform: rotate(270deg);}
}

@keyframes blueSwinging{
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(-60deg); left: -100;}
    50%  {left: -55px;}
    100% {transform: rotate(0deg);}
}

footer{
	background-color:black;
	position: relative;
	top: -50px;
	text-align: center;
	float:none;
	color: gray;
}